[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-taglist"]
	path = bundle/vim-taglist
	url = https://github.com/mexpolk/vim-taglist.git
[submodule "bundle/vim-sparkup"]
	path = bundle/vim-sparkup
	url = https://github.com/bingaman/vim-sparkup.git
